@use "../partials/_variables" as *;
@use "../partials/_typography" as *;

//breakpoint mixins

@mixin tablet {
  @media (min-width: ($tablet-breakpoint)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: ($desktop-breakpoint)) {
    @content;
  }
}

//onboarding for mixins
@mixin form-label {
  text-transform: capitalize;
  font-weight: 800;
  color: $dark;
  font-size: 0.85rem;
}