@use "./variables" as *;

@font-face {
  font-family: $font-family;
  src: url("../../assets/fonts/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: $font-family;
  src: url("../../assets/fonts/RedHatText-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: $font-family;
  src: url("../../assets/fonts/RedHatText-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: $font-special;
  src: url("../../assets/fonts/LibreCaslonText-Bold.ttf") format("truetype");
  font-weight: 800;
}
