//colors neutral
$light: #fcfcfc;
$lightgrey: #f1f0f0;
$darkgrey: #94908d;
$dark: #32302f;

//colors colorful
$lightgreen: #dbecc3;
$darkgreen: #5c8145;
$red: #c82b13f2;
$lightred: #e8442b81;

//font
$font-family: "RedHat";
$font-special: "Caslon";

//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
