@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.footer {
    &__section {
        border-top: 0.01rem solid $darkgrey;
        padding-top: 2rem;
        position: relative;
        top: 20rem;
    }

    &__link-group {
        display: flex;
        justify-content: space-evenly;
    }

    &__icon {
        width: 3.5rem;
    }
}